<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>415A81181C84B3CB00E45F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A81291C84B40100E45F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A81341C84B41800E45F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A813F1C84B42800E45F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415A815C1C84BA6000E45F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
